AI_Voice_Agent n8n.json
{
  "name": "AI Voice Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -416,
        336
      ],
      "id": "2243f926-a877-4ff0-9539-a582b98c5ecd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RcYeglHSTlFPWP4V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"call_summary\": \"California\",\n  \"first_name\": \"California\",\n  \"last_name\": \"California\",\n  \"phone\": \"California\",\n  \"email\": \"California\",\n  \"insurance\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -112,
        320
      ],
      "id": "8a11e354-04e2-4b9f-b5b1-de7ff972f28e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uBauV32u6cNUcr2VcGvKeehILo63ts-Vy__xq_N8Cw8",
          "mode": "list",
          "cachedResultName": "up selling",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uBauV32u6cNUcr2VcGvKeehILo63ts-Vy__xq_N8Cw8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uBauV32u6cNUcr2VcGvKeehILo63ts-Vy__xq_N8Cw8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.output.first_name }} {{ $json.output.last_name }}",
            "Email": "={{ $json.output.email }}",
            "Phone Number": "={{ $json.output.phone }}",
            "insurance": "={{ $json.output.insurance }}",
            "Call Summery": "={{ $json.output.call_summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "insurance",
              "displayName": "insurance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Summery",
              "displayName": "Call Summery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        128
      ],
      "id": "c561e4ba-6a9b-442e-9dc7-1bf0a0677579",
      "name": "Patient Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xLMTNnRDMku9VZtG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbound",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        128
      ],
      "id": "24526c17-a2b0-4643-a0b2-68943c814f6f",
      "name": "interaction between a customer and a voice al agent",
      "webhookId": "9a261095-40bc-45c4-ae7c-340a9021ab93"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the following transcript of an interaction between a customer and a voice al agent name Nabeel from PulseCare Heart Institute output the summary of the call in 500 characters and also extract the name, email, phone number and Insurance provider as separate JSON items.\ntranscript: {{ $json.body.call.transcript }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        128
      ],
      "id": "633581a0-c978-4cc5-aca8-e58d25167b6a",
      "name": "Summarize Call"
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Call",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize Call",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "interaction between a customer and a voice al agent": {
      "main": [
        [
          {
            "node": "Summarize Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Call": {
      "main": [
        [
          {
            "node": "Patient Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateId": "ready-to-run-ai-workflow-v3",
    "templateCredsSetupCompleted": true
  }
}